<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665410992545-0ms3n1gfoqkn04rsg8hrhkc5j3su9e1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665410992545-0ms3n1gfoqkn04rsg8hrhkc5j3su9e1b</string>
	<key>API_KEY</key>
	<string>AIzaSyCiZwL_-1P9BnlK_3azIpAVIBxL-Bv3s9M</string>
	<key>GCM_SENDER_ID</key>
	<string>665410992545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFirebaseSetup</string>
	<key>PROJECT_ID</key>
	<string>fir-firebase-setup-cc311</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firebase-setup-cc311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665410992545:ios:aac3772c2652d7f8a8b3e0</string>
</dict>
</plist>